h1,h2 {
  text-align: center;
}

.game-creation-form {
  padding: 10px 30px;
}

.game-creation-form div {
  margin: 10px 0;
}

hr {
  text-align: center;
}

.socket-test {
  padding: 10px 30px;
}

.game-list {
   text-align: "left";
}

.mini-game {
  width: 100px;
  display: inline-block;
}

.game-list span {
  display: inline-block;
  margin: 0 20px;
}

.game-summary {
    padding: 10px;
}

.game-summary:hover {
  background-color: #c7e7e9;
}