@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 2rem;
  font-weight: normal;
  display: grid;
  grid-template-rows: max-content 1fr;
  height: 100%;
}

nav {
  text-align: left;
  margin-left: -1rem;
  font-size: 1rem;
  padding: 1rem 0;
  margin-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--color-background-mute);
}

@media (max-width: 540px) {
  #app {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.config-form-column {
  display: flex;
  flex-direction: column;
}
