@import "./base.css";

#app {
  font-weight: normal;
  height: 100%;
}

.pageWrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 540px) {
  .pageWrapper {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

@media (min-width: 1024px) {
  .pageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.config-form-column {
  display: flex;
  flex-direction: column;
}

.navElement,
.navLogo {
  padding: 0rem 1.2rem;
  height: var(--navbar-height);
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

a.navElement {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);

  &.router-link-exact-active {
    background-color: var(--color-primary-transparent);
  }

  &:hover {
    transition: 0.4s;
    background-color: var(--color-primary-transparent);
  }

  &:visited {
    color: var(--color-text);
  }
}

button.navElement {
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-wrap: nowrap;
  cursor: pointer;
  color: var(--color-text);

  &.logoutButton {
    &:hover {
      transition: 0.4s;
      background-color: var(--color-warn-transparent);
    }
  }

  &.navHamburgerMenuButton {
    &:hover {
      transition: 0.4s;
      background-color: var(--color-primary-transparent);
    }
  }
}

a,
.green {
  color: var(--color-primary);

  &:visited {
    color: var(--color-primary-shade);
  }
}

.col {
  display: flex;
  flex-direction: column;
}
